 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .slogan {
    font-size: 28px;
    margin: 4%;
    }

    .scroll {
        height: 648px;
    }

    .type-h1 {
        text-align: center;
        font-size: 1.6em;
        margin-top: 5%;
    }

    .carrossel-container {
        max-width: 50vw;
    }

}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .scroll {
        height: 948px;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    .cardzin img {
        height: 180px;
    }

    .text-cardzin h2,h4 {
        font-size: 20px;
    }

    .text-cardzin h4 {
        font-weight: 300;
    }

    .text-cardzin p {
        display: none;
    }

     /* container-flip */

    .container-flip {
        width: 360px;
        height: 200px;
    }

    .back p {
        font-size: 1em;
        /* margin: 20px; */
         /* border: 1px solid red; */
    }

    .back a {
        padding: 10px;
        width: 100px;
        font-size: .8em;
    }

    .carrossel-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .title-type {
        margin-right: 8%;
    }

    .title-type h4 {
        display: none;
    }

    /* Swiper prev-next */
    .swiper-button-next , .swiper-button-prev{
        display: none !important;
    }
}

 /* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .scroll {
        height: 548px;
    }
}

 /* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .scroll {
        height: 548px;
    }
}

 /* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}