@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lilita+One&display=swap');

/* Reset e estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

body.search-expanded {
    height: 100vh;
}

/* Layout principal */
.scroll-container {
    height: 100vh;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
    z-index: 100;
}

.header a {
    color: #fff;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: slide 2s linear infinite;
    transition: 0.5s;
}

.header:hover::before {
    left: 100%;
}

.header-scrolled {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.header-scrolled a {
    background: rgb(18, 143, 152);
    background: linear-gradient(306deg, #128f98 35%, #00d9ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-family: "Lilita One", sans-serif;
}

.nav-links {
    display: flex;
    font-size: 25px;
    gap: 20px;
}

.nav-link::before {
    content: '';
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-links a {
    transition: color 0.3s;
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.slogan {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Sistema de busca */
.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.tab-link {
    color: #00bfbf;
    font-weight: 700;
}

.tab-link:hover {
    border-bottom: 3px solid #00bfbf;
}

.tab-link.active {
    border-bottom: 3px solid #00bfbf;
}

/* .compact-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vh;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60vh;
}

.search-input {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 38vh;
    border: none;
} */
/* Seção de serviços */

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 1%;
}

.icon {
    display: flex;
    justify-content: center;
    background-color: #3abaff;
    min-width: 15vh;
    border-radius: 18px;
    transition: .3s;
}

.icon:hover {
    background-color: #25a0e3;
}

.icon a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 10px;
}

/*Swiper*/

/*------------------------------------------------------------------*/
.cardzin-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 20px; */
    min-height: 50vh;
    gap: 10px;
    background-color: #3abaff30;
}

.cardzin {
    display: flex;
    width: 600px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition: .5s;
    background-color: #ffffff;
}

.cardzin:hover {
    transform: scale(1.01);
}

.cardzin img {
    width: 200px;
    height: 210px;
    border-radius: 12px 0 0 12px;
}

.text-cardzin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.text-cardzin p {
    font-size: .9rem;
    margin-top: 10px;
}

.text-cardzin a {
    color: #fff;
    background-color: #00bfbf;
    padding: 10px;
    width: 180px;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9em;
}

.text-cardzin a:hover {
    background-color: #01a8a8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.conteudo {
    display: flex;
    font-size: calc(0.5vw + 18px);
}

.text-d {
    margin-right: auto;
    margin-left: 30px;
}

.text-d h1 {
    font-size: calc(0.3vw + 18px);
    margin-bottom: .5em;
}

.text-d h3 {
    font-weight: 500;
    font-size: calc(0.1vw + 15px);
}

.count {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
}

.mySwiper {
    background-color: #3abaff30;
}

/* container-flip */

.type-travel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
    margin-top: 2%;
}

.title-type {
    margin-left: 8%;
}

.type-h1 {
    margin-bottom: 3%;
    font-size: 2.2em;
}

.card-flip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.container-flip {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform .8s;
    /* Especifique que apenas a transformação deve animar */
}

.container-flip:hover .flip {
    /* Aplique a rotação no elemento .flip quando o container for hover */
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front {
    background: #fff;
    display: flex;
    align-items: end;
}

.front .type-title {
    background: linear-gradient(transparent, #111111);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.front .type-title h1 {
    font-size: 1.4em;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 4%;
    font-weight: bold;
}

#leisure {
    background-image: url('../img/lazer.jpg');
    background-size: cover;
}

#adventure {
    background-image: url('../img/aventura.jpg');
    background-size: cover;
    background-position: center;
}

#cultural {
    background-image: url('../img/cultural.jpg');
    background-size: cover;
    background-position: center;
}

#gastronomy {
    background-image: url('../img/gastronomica.jpg');
    background-size: cover;
    background-position: center;
}

#comfort {
    background-image: url('../img/bemestar.jpg');
    background-size: cover;
    background-position: center;
}

#luxe {
    background-image: url('../img/luxo.jpg');
    background-size: cover;
    background-position: center;
}

#entertainment {
    background-image: url('../img/entreterimento.jpg');
    background-size: cover;
    background-position: center;
}

#family {
    background-image: url('../img/grupo.jpg');
    background-size: cover;
    background-position: center;
}

#romantic {
    background-image: url('../img/romantico.jpg');
    background-size: cover;
    background-position: center;
}

.back {
    /* background: #d9d9d9;
    background: linear-gradient(36deg, rgba(217, 217, 217, 1) 0%, rgba(255, 255, 255, 1) 78%); */
    background-color: #3d3d3d;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.back::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-right: 20px solid #3abaff;
    border-top: 20px solid #3abaff;
}



.back p {
    font-size: 1.2em;
    margin: 20px;
    width: 230px;
    color: #fff;
}

.back a {
    color: #fff;
    background-color: #3abaff;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.back a:hover {
    background-color: #01a8a8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.type-btns {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 10px;
    align-items: center;
    height: 10vh;
}

.type-btn {
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
    padding: 10px;
    height: 4vh;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}














/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 80vh;

}

footer .footer {
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, 0.212);
    width: 80%;
    height: 40vh;
    margin-bottom: 0;
}

footer .footer h2 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.repartimento {
    width: 33.33%;
    margin-top: 10px;
}

.repartimento ul li {
    display: flex;
    flex-direction: column;
}

.repartimento ul li a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

footer .payments {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

footer .method {
    display: flex;
    justify-content: left;
    width: 80%;
    gap: 20px;
    border-bottom: 1px solid #00000023;
}

footer .method .cards-name h4,
.others-name h4 {
    color: #000;
    font-size: 0.9rem;
    margin-bottom: 20px
}

footer .method .footer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .method .others {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

footer .social-media {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    margin-bottom: 0;
}

footer .social-media h2 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}